c 1 - ser loiro
c 2 - ser adulto
c 3 - usar chapeu
c 4 - usar anel
c 5 - ir ao sabado
c
c Clausulas
c  1 -> -5
c -2 ->  3
c  4  V  -3
c  5 -> 4
c  2 ->  4
c  4 ->  1

p cnf 5 5
-1 -5 0
2 3 0
4 -3 0
-5 4 0
-2 4 0
-4 1 0

c Ex 2
c R: é satizfazivel

c Ex 3

c A) “Quem usa anel nao pode ir ao Sabado.”
c 4 -> -5 = (-4 V -5) --- NEG --- neg(-4 V -5)=  4 ^ 5
c 4 0
c 5 0
c R:Como deu UNSAT verifica-se a veracidade da pergunta.Logo está correta
c
c
c B) "Pode um socio de chapeu ser loiro?"
c 3 ^ 1 --- NEG --- -3 V -1
c -3 -1 0
c R:Como deu SAT, Não podemos garantir que os socios de chapeu podem ser loiros.
c
c
c C) “Afinal a associacao nao pode ter socios adultos.”
c -2 ? --- NEG --- 2
c 2 0
c R:Como deu SAT , não podemos garantir que a afirmação é correta.