pymodm
spellchecker
pyspellchecker
googletrans
stop-words
nltk
vaderSentiment
simple-term-menu
PyQtWebEngine==5.12
PyQt5
tqdm
simple-term-menu
feather-format
symspellpy
unidecode
translators
imbalanced-learn
googletrans==3.1.0a0
